.f1 {font-family: 'Rubik', sans-serif;}
.f2 {font-family: 'Source Sans Pro', sans-serif;}
.clr {clear: both;}
* {box-sizing: border-box;}
canvas {
	position:fixed;
	top:0;left:0;bottom:0;right:0;
	z-index:-1;
}
body {
	max-width: 900px;
	margin: 0 auto;
	font-size: 16px;
	background: #12141b;
}
hr {
	border: 0;
	border-top-width: thin;
	border-top-style: solid;
}
footer {
	padding: 1em;
	text-align: center;
	color: #667a90;
	text-shadow: 0 0 .5em rgba(0,0,0,0.5);
}
main {
	background: linear-gradient(to top, #131417, #212531);
	color: #82a6cc;
	box-shadow: 0 0 1em rgba(0,0,0,0.3);
	/**/
	margin: 1em;
	border-radius: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: stretch;
}
aside {
	padding: 1em;
	flex-grow: 1;
	flex-basis: 200px;
}
.ava {
	max-width: 200px;
	border-radius: 999rem;
	margin: 0 auto;
	display: block;
	box-shadow: 0 0 1em rgba(0,0,0,0.3);
}
aside nav>* {
	display: block;
	padding: 10px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	color: #7c9fc4;
	text-decoration: none;
	transition: 0.3s background;
}
aside nav a:hover {
	background: rgba(0,0,0,0.1);
	transform: scale(1.05);
}
.info {
	background: rgba(0,0,0,0.13);
	margin: 10px auto;
	border-radius: 15px;
	box-shadow: 0 0 1em rgba(0,0,0,0.1);
	border: none;
}
.info div {
	padding: 5px 10px;
}
aside nav>*:last-child {
	border-bottom: none !important;
}
section {
	border-left-width: thin;
	border-left-style: solid;
	padding: 1em;
	flex-grow: 9;
	flex-basis: 500px;
}
/* borders */
hr, section, aside nav > *  {border-color: rgba(184, 188, 255, 0.09);}
/**/
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	float: left;
	padding: .5em .5em .5em 0em;
	display: block;
}
.menu button, .btn {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 5px 15px;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	background: rgba(0,0,0,0.3);
	box-shadow: 0 0 .5em rgba(0,0,0,0.1);
	color: #0f51ef;
	text-decoration: none;
	display: block;
}
h3 {
	padding-left: 50px;
}
ol li {
	margin: 5px auto;
	padding: 10px;
}
ol a {
	color: #0f51ef;
}
.badge {
	display: inline-block;
	padding: 3px 10px;
	margin: 3px;
	border-radius: 999rem;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 0 .6em rgba(0, 0, 0, 0.15);
}
/* DARK */

/* LIGHT */
.light main {
	background: linear-gradient(to top,#d2e2e8, #fff);
	color: #118a3a;
}
.light ol a {
	color: #2528db;
}
.light .menu button, .light .btn {
	color: #118a3a;
	background: rgba(255,255,255,0.3);
}
.light .badge {
	background: rgba(17, 138, 58, 0.24);
	color: #118a3a;
}
.light aside nav > * {
	color: #006020;
}
.light hr, .light section, .light aside nav > *  {border-color: rgba(0,0,0,0.17);}
/* MEDIA */
@media (max-width: 780px) {
	section {
		border-left: none !important;
	}
}

/* The alert message box */
.alert {
	margin: 1em;
	padding: 1.5em 1.5em 3em 1.5em;
	border-radius: 1em;
  background-color: rgba(255, 0, 0, 0.228);
  color: white;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	line-height: 1.5em;
}

.alert a {
	color: lightgreen;
}

/* The close button */
.close {
  margin-left: 1em;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1.5em;
  line-height: 1em;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.close:hover {
  color: rgb(255, 255, 255);
}